.accreditation_card{
    background-color: #000000;
    border-radius: 2px;
    border:1px solid #888;
    text-align: center;
    min-width: 200px;
}
.accreditation_card span.heading{
    display: block;
    font-size:1.1em;
    padding-left: 7px;
    padding-top: 3px;
    text-align: left;
}
.accreditation_card span.label{
    display: block;
    font-weight:bold;
    font-size:2em;
}
.accreditation_card span.voters{
    font-size:1.1em;
}

.confidence_card.rank0{ background-color: rgba(0, 0, 0, 1); border-color:#000000; color: #fff; }
.confidence_card.rank1{ background-color: #aa0000; border-color:#aa0000; color: #fff; }
.confidence_card.rank2{ background-color: #ef9819; border-color:#ef9819; color: #fff; }
.confidence_card.rank3{ }
.confidence_card.rank4{ background-color: #336699; border-color:#336699; color: #fff; }
.confidence_card.rank5{ background-color: #00aa00; border-color:#00aa00; color: #fff; }


.single-friend.rank0{ border-bottom: 2px solid #000; }
.single-friend.rank1{ border-bottom: 2px solid #a00; }
.single-friend.rank2{ border-bottom: 2px solid #ef9819; }
.single-friend.rank3{ border-bottom: 2px solid #ccc; }
.single-friend.rank4{ border-bottom: 2px solid #4987c5; }
.single-friend.rank5{ border-bottom: 2px solid #0a0; }

input.vote_input{
    text-align:center;
    width:75px;
}
